- var states = ['Started', 'Finished', 'Delivered', 'Accepted', 'Rejected']

td= username
- states.forEach(function(state) {
  td(data-state=state)
    - activities.forEach(function(activity) {
      - var slug = activity.title.toSlug()
      - if(activity.status.toLowerCase() == state.toLowerCase()) {
        div(class="activity #{activity.storyType.toLowerCase()}")
          a(href='#' + slug, name=slug)
            | #{activity.title} (#{activity.updatedAt})
          != labelForStoryType(activity)
          .labels
            - activity.getLabels().forEach(function(label) {
              span.label= label
            - })
          .clear
      - }
    - })
- })
